body {
  background-color: #6565a3;
}

#text {
  background-color: #0a0a23;
  color: #ffffff;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: #020202;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
  letter-spacing: 0.04rem;
  font-family: "Ubuntu";
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #f3f3f3;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #0a0a23;
  background-color: #0e7c48;
  background-image: linear-gradient(#0cfab3, #5abd30);
  border: 3px solid #6cdbae;
  font-family: "Ubuntu";
  font-weight: 800;
  margin-top: 10px;
  letter-spacing: 0.05rem;
}


#gold {
  color: gold;
}

#health {
  color: greenyellow;
} 








